$primary-blue: #305f72;
$primary-blue-background: #305f7220;
$secondary-grey: #333;
$tertiary-red: #f18c8e;
$tertiary-red-background: #f18c8e10;
$spacer-beige: #f1d1b5;
$spacer-salmon: #f0b7a4;
$spacer-salmon-background: #f0b7a420;
