@import "colors";

.argus-data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  .argus-field-block {
    color: $primary-blue;

    .argus-field-heading {
      font-size: 12px;
      background: $primary-blue-background;
      text-align: left;
      padding: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .argus-field-input {
      width: 100%;
    }

    .argus-field-input .form-control {
      display: unset;
      width: unset;
      height: unset;
      padding: unset;
      font-size: unset;
      line-height: unset;
      color: unset;
      background-color: unset;
      background-image: unset;
      border: 1px solid unset;
      border-radius: unset;
      box-shadow: unset;
      transition: unset;
    }

    .argus-field-value,
    .argus-field-input > input {
      font-size: 24px !important;
      padding: 10px !important;
      font-weight: 900 !important;
      width: 100% !important;
    }

    .argus-field-value {
      border: solid 1px $primary-blue-background !important;
      pointer-events: none;
      height: 56.28px !important;
    }

    .argus-field-input > input {
      border: solid 1px $primary-blue !important;
    }
  }

  .id-block {
    color: $tertiary-red !important;
    pointer-events: not-allowed !important;

    .argus-field-heading {
      background: $tertiary-red-background !important;
    }

    .argus-field-value {
      border: solid 1px $tertiary-red-background !important;
    }
  }
}
