@import "colors";

.argus-filter-area {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5px;
  color: $primary-blue;
  flex-wrap: wrap;

  input[type="number"] {
    min-width: 36px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  .selectize-dropdown {
    width: fit-content !important;
    text-align: left;
    border-radius: 0;
    border: 0;
  }

  .shiny-input-container,
  .shiny-text-output {
    width: fit-content;
  }

  .selectize-dropdown .selected {
    background-color: $primary-blue-background;
    color: $primary-blue;
  }

  .form-control,
  .selectize-input,
  .selectize-input > .item {
    all: unset;
    text-decoration: underline dotted;
    font-weight: 500;
  }

  .selectize-input::after {
    content: none !important;
  }

  .selectize-input.focus {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
  }

  .has-error,
  .has-error .form-control:focus {
    text-decoration-color: $tertiary-red !important;
    color: $tertiary-red !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  .selector-button {
    border: 0;
    background: 0;
    padding: 0;
    height: 0;
  }

  .save-button {
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    color: $primary-blue;
  }

  p {
    color: $secondary-grey;
  }
}
