@import "selector";

.argus {

  hr {
    width: 60%;
  }

  .argus-header {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .argus-icon {
      cursor: pointer;
    }

    i {
      font-size: 24px;
      margin-top: 10px;
    }
  }
}
