.argus-body {
	.argus-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.argus-filter-area {
	    display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	}
}
